* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --darkgrey:#2D3E40;
    --darkgreen: #387373;
    --lightgreen: #93bfb7;
    --grey:#97a6a05c; 
    --white: #e4f2e7;
    --font1 : 'Montserrat';
}

.bg-primary {
    background-image: linear-gradient(to top, #93bfb7, #69aaaa);
}
.alto {
    min-height: 100px;
}
.navbar-brand {
    font-family: "New Rocker";
}
.nabvar-links {
    font-family: var(--font1);
}



/* GALERY */
.gallery-row .column {
    flex: 33.3%;
}

.footer__contact-p {
    font-size: .7rem;
}

.footer__social-a {
    text-align: center;
    font-size: 20px;
    color: var(--darkgray);
    padding: 10px;
}

.footer__credits-p {
    font-size: .7rem;
    text-align: center;
}


@media (min-width:768px) {
    .gallery-row1 {
        min-height: 100px;
        object-fit: cover;
        object-position: center center;
    }
    .img {
        margin: 10px 0 !important;
    }
    .img3, .img4 {
        height: 250px;
        object-fit: cover;
        object-position: center -200px;

    }
}

@media (min-width:992px) {
    .img3, .img4 {
        height: unset;
        object-position: unset;
    }
    .img5 {
        height: 200px;
    }
}

@media (min-width:1200px) {
    .img5 {
        height: 350px;
    }
}